@page
@using System.Data;
@model Bagrot_HTML.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}
<link href="~/css/stylesheet.css" rel="stylesheet" />
<link href="~/css/adminstylesheet.css" rel="stylesheet" />
<script src="~/js/admin.js"></script>

<form name="Fillter" method="post">
    <button type="submit" onclick="clearTextFields()">Reset</button>

    <label for="reg_CityID"  style="margin-left: 5px; margin-right: 15px;">Filter:</label>
    <select id="filterColumn" name="filterColumn" style="width: fit-content; margin-right: 15px;">

        <option></option>

        @foreach (DataRow row in Model.dtFilterColumn.Rows)
        {
            <option value='@row["filterCode"]'>

                @row["filterName"]

            </option>
        }
    </select>
    <input type="text" name="filterValue" id="filterLike" min="1" maxlength="50" />

    <button type="submit" name="submit" value="Search">Search</button>

    <br />
    <br />

    <button type="submit" onclick="clearTextFields()">Reset</button>

    <label for="delete" style="margin-left: 5px; margin-right: 15px;">Delete by ID:</label>
    <input type="text" name="delete" id="delete" min="1" maxlength="50" />

    <button type="submit" name="submit" value="Delete" >Delete</button>
</form>



<div class="box">
    <table>
        <thead>
            <tr>
                @foreach (string displayColumn in Model.displayColumns)
                {
                    <th scope="col">@displayColumn</th>
                }
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (DataRow row in Model.DataTableUsers.Rows)
            {
                <tr>
                    @foreach (DataColumn column in Model.DataTableUsers.Columns)
                    {
                        <td>@row[column]</td>
                    }
                </tr>
            }
        </tbody>
        <tfoot class="table-group-divider">
            <td class="table table-info" scope="row" colspan="100%" style="text-align:center">
                Total @Model.DataTableUsers.Rows.Count users
            </td>
        </tfoot>
    </table>
</div>
