@page
@using System.Data;
@model Bagrot_HTML.Pages.RegisterModel
@{
    ViewData["Title"] = "Registration Form";
}
<link href="~/css/registerstylesheet.css" rel="stylesheet" />
<link href="~/css/stylesheet.css" rel="stylesheet" />
<script src="~/js/register.js"></script>

<main>
    <h3>User Registration Form</h3>

    <form name="regfoem" method="post" onsubmit="return validateRegisterForm()" onreset="resetForm();">
        <div>@* email *@
            <label for="reg_email" class="label">Email</label>
            <input type="text" asp-for="user.Email" id="reg_email" maxlength="50" placeholder="yourEmail@gmail.com" oninput="checkEmail()" />
            <br />
            <span class="text-danger" id="reg_errorEmail"></span>
        </div>

        <br />

        <div>@* first name *@
            <label for="reg_firstName" class="lable">First Name</label>
            <input type="text" asp-for="user.FirstName" id="reg_firstName" min="1" maxlength="50" placeholder="your first name" oninput="checkFirstName()"  />
            <br />
            <span class="text-danger" id="reg_errorFirstName"></span>
        </div>

        <br />

        <div>@* last name *@
            <label for="reg_lastName" class="lable">Last Name</label>
            <input type="text" asp-for="user.LastName" id="reg_lastName" min="1" maxlength="50" placeholder="your last name" oninput="checkLastName()"  />
            <br />
            <span class="text-danger" id="reg_errorLastName"></span>
        </div>

        <br />

        <div>@* user name *@
            <label for="reg_userName" class="lable">User Name</label>
            <input type="text" asp-for="user.UserName" id="reg_userName" min="1" maxlength="50" placeholder="your user name" oninput="checkUserName()"  />
            <br />
            <span class="text-danger" id="reg_errorUserName"></span>
        </div>

        <br />

        <div>@* password *@
            <label for="reg_password" class="lable">User Password</label>
            <input type="password" asp-for="user.Password" id="reg_password" min="1" maxlength="50" placeholder="your Password" oninput="checkPassword()"  />
            <br />
            <span class="text-danger" id="reg_errorPassword"></span>
        </div>

        <br />

        <div>@* confirm password *@
            <label for="reg_confirmPassword" class="lable">confirm User Password</label>
            <input type="password" id="reg_confirmPassword" min="1" maxlength="50" placeholder="confirm your Password" oninput="checkConfirmPassword()"  />
            <br />
            <span class="text-danger" id="reg_errorConfirmPassword"></span>
        </div>

        <br />

        <div>@* year of birth *@
            <label for="reg_yearOfBirth" class="lable">Year Of Birth</label>
            <input type="text" asp-for="user.YearOfBirth" id="reg_yearOfBirth" min="1" maxlength="50" placeholder="2006" oninput="checkYearOfBirth()"  />
            <br />
            <span class="text-danger" id="reg_errorYearOfBirth"></span>
        </div>

        <br />

        <div class="flexBox">@* gender *@
            <label for="reg_gender" asp-for="user.Gender" style="margin-left: 5px; margin-right: 15px;">Gender:</label>

            <div>
                Male
                <input asp-for="user.Gender" type="radio" name="user.Gender" value="Male" id="reg_gender" oninput="checkRadioButtons()" style="margin-right: 15px;">

                Female
                <input asp-for="user.Gender" type="radio" name="user.Gender" value="Female" oninput="checkRadioButtons()" style="margin-right: 15px;">

                Other
                <input asp-for="user.Gender" type="radio" name="user.Gender" value="Other" oninput="checkRadioButtons()" style="margin-right: 15px;">
            </div>
            <span class="text-danger" id="reg_errorGender"></span>
        </div>
            
        <br />
            
        <div >@* CityID *@
            <label for="reg_City" asp-for="user.City" style="margin-left: 5px; margin-right: 15px;">City Name:</label>
            <select id="reg_City" asp-for="user.City" oninput="checkCityID()" style="width: fit-content; margin-right: 15px;">

                <option>Select City</option>

                    @foreach (DataRow row in Model.dtCity.Rows)
                    {
                        <option asp-for="user.CityID" value='@row["City"]'>

                            @row["City"]

                        </option>
                    }
                </select>
                <span class="text-danger" id="reg_errorCity"></span>
            </div>
       
        <br />

        <div>@* prefix and phone num *@
            <label for="reg_prefix" class="lable">Prefix:</label>
            <select id="reg_prefix" asp-for="user.Prefix" oninput="checkPrefix()" style="width: fit-content; margin-right: 15px;">

                <option></option>
                
                @foreach (DataRow row in Model.dtPrefix.Rows)
                {
                    <option asp-for="user.PrefixID" value='@row["Prefix"]'>

                        @row["Prefix"]

                    </option>
                }
            </select>
            <span class="text-danger" id="reg_errorPrefix"></span>

            <br />
            <br />

            <label for="reg_phone" class="lable">Phone Number</label>
            <input type="number" asp-for="user.Phone" id="reg_phone" maxlength="15" placeholder="Enter phone number" oninput="checkPhoneNum()"  />
            <br />
            <span class="text-danger" id="reg_errorPhone"></span>

        </div>

        <br />

        <div>
            <button type="submit" name="submit" value="Register">Register</button>
            <button type="button" onclick="clearTextFields()">reset</button>
            <br />
            <span class="text-danger">@Model.errorMessage</span>
        </div>
    </form>

</main>